<p style="color: green"><%= notice %></p>

<h1 class="ms-5 text-info">Account Detail</h1>

<div id="users" class="w-100">
  <% @users.each do |user| %> 
    <%= render user %>
    <div class="d-flex justify-content-between align-items-center">
      <p class="ms-auto">
        <%= link_to "Update Account", user, class: "btn btn-info text-white fw-bold" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>