<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between border">
  <h1>Events</h1>
  <div class="d-flex">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        Filter Events
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="ms-2 btn btn-primaryyy text-white fw-bold">
      <%= link_to "Creat event", new_event_path %>
    </div>
  </div>
</div>

<div id="events">
  <% @events.each do |event| %> 
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p> 
  <% end %>
</div>
