<h1 class="mt-5 ms-5 fw-bold text-success">Flag Event</h1>

<%= render "form", flag: @flag %>

<br>

<div>
  <%= link_to "< Return",  flags_path, class: "btn btn-outline-success text-white ms-auto me-3 fw-bold px-4",  style:"color: white; text-decoration: none; border: solid 2px;"  %>
</div>
